<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.core.dao.member.IMemberInfoMapper">
	<resultMap id="memberInfoMap" type="memberInfo" >
		
		<id column="MEMBER_ID" property="memberId" jdbcType="DECIMAL"/>
		<result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR"/>
		<result column="MOBILE_NUMBER" property="mobileNumber" jdbcType="VARCHAR"/>
		<result column="EMAIL" property="email" jdbcType="VARCHAR"/>
		<result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
		
		<result column="APPID" property="appid" jdbcType="VARCHAR"/>
		<result column="APPKEY" property="appkey" jdbcType="VARCHAR"/>
		<result column="OPEN_ID" property="openId" jdbcType="VARCHAR"/>
		<result column="STATUS" property="status" jdbcType="DECIMAL"/>
		<result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
		
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
		
	</resultMap>
	
	<sql id="base_column">
		MEMBER_ID,MEMBER_NAME,MOBILE_NUMBER,EMAIL,PASSWORD,APPID,
		APPKEY,OPEN_ID,STATUS,CREATED_TIME,LAST_LOGIN_TIME
	</sql>
	
	<!-- 获取用户信息 -->
	<select id="loadAll" parameterType="Map" resultMap="memberInfoMap">
		SELECT
		<include refid="base_column"/>
		FROM TB_MEMBER_INFO
		<where>
			1=1
				<if test="memberName !=null and memberName !=''">
					AND MEMBER_NAME = #{memberName}
				</if>
				<if test="mobileNumber !=null and mobileNumber !=''">
					AND MOBILE_NUMBER = #{mobileNumber}
				</if>
				<if test="email != null and emal !=''">
					AND EMAIL = #{email}
				</if>
		</where>
	</select>
</mapper>