<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqs.core.dao.goods.IGoodsMapper">
	<resultMap id="goodsMap" type="goods" >
		
		<id column="GOODS_ID" property="goodsId" jdbcType="DECIMAL"/>
		<result column="CODE" property="code" jdbcType="VARCHAR"/>
		<result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR"/>
		<result column="TYPE_ID" property="typeId" jdbcType="DECIMAL"/>
		
		<result column="BRAND_ID" property="brandId" jdbcType="DECIMAL"/>
		<result column="SHOW_IMG_1" property="showImg1" jdbcType="VARCHAR"/>
		<result column="SHOW_IMG_2" property="showImg2" jdbcType="VARCHAR"/>
		<result column="SHOW_IMG_3" property="showImg3" jdbcType="VARCHAR"/>
		<result column="SHOW_IMG_4" property="showImg4" jdbcType="VARCHAR"/>
		
		<result column="INTRODUCE_IMG" property="introduceImg" jdbcType="VARCHAR"/>
		<result column="PRICE" property="price" jdbcType="DECIMAL"/>
		<result column="STOCK" property="stock" jdbcType="DECIMAL"/>
		<result column="SOLD" property="sold" jdbcType="DECIMAL"/>
		<result column="IS_REC" property="isRec" jdbcType="DECIMAL"/>
		
		<result column="CREATOR_ID" property="creatorId" jdbcType="DECIMAL"/>
		<result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
		<result column="LAST_OPERATOR_ID" property="lastOperatorId" jdbcType="DECIMAL"/>
		<result column="LAST_OPERATED_TIME" property="lastOperatedTime" jdbcType="TIMESTAMP"/>
		
	</resultMap>
	
	<sql id="base_column">
		GOODS_ID,CODE,GOODS_NAME,TYPE_ID,BRAND_ID,SHOW_IMG_1,SHOW_IMG_2,SHOW_IMG_3,SHOW_IMG_4,
		INTRODUCE_IMG,PRICE,STOCK
	</sql>
	
	<sql id="sql_where">
		<where>
			1=1
			<if test="goodsId !=null and goodsId !=''">
				AND GOODS_ID = #{goodsId}
			</if>
			<if test="typeId !=null and typeId !=''">
				AND TYPE_ID = #{typeId}
			</if>
			<if test="brandId !=null and brandId !=''">
				AND BRAND_ID = #{brandId}
			</if>
		</where>
	</sql>
	
	<select id="loadAll" parameterType="Map" resultMap="goodsMap">
		SELECT
		<include refid="base_column"/>
		FROM TB_GOODS
		<include refid="sql_where"/>
	</select>
	
	<!-- 商品评论 -->
	<select id="loadComment" parameterType="int" resultType="Map">
		SELECT t1.COMMENT, t2.MOBILE , t1.CREATED_TIME
		FROM TB_GOODS_COMMENT t1
		LEFT JOIN TB_USER t2 ON t1.USER_ID = t2.USER_ID
		WHERE t1.GOODS_ID = #{goodsId}
	</select>
	
	<!-- 获取推荐商品 -->
	<select id="loadRecGoods" parameterType="long" resultMap="goodsMap">
		SELECT t2.GOODS_NAME,t2.PRICE,t2.SOLD,t1.GOODS_ID
		FROM TB_GOODS_INDEX t1
		LEFT JOIN TB_GOODS t2 ON t1.GOODS_ID = t2.GOODS_ID
		WHERE t1.STATUS = 1 AND t1.TYPE_ID = #{typeId}
			AND t1.BEGIN_TIME &lt;= NOW()
			AND t1.END_TIME &gt;= NOW()
	</select>
	
	<!-- 购物车 -->
	<select id="loadGoodsCart" parameterType="long" resultType="Map">
		SELECT t2.GOODS_NAME name, t2.PRICE price, t1.GOODS_NUM num , 
			(t2.PRICE price * t1.GOODS_NUM) totalPrice
		FROM TB_GOODS_CART t1
		LEFT JOIN TB_GOODS t2 ON t1.GOODS_ID = t2.GOODS_ID
		WHERE t1.USER_ID = #{userId}
	</select>
	
</mapper>